<!DOCTYPE html>
<html>
<head>
    <title>Evastro Group - D Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teststyle.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body>

<div id="particles-js"></div>

<section class="hero">
    <h1>Welcome To <span>Evoastra Group - D Project</span></h1>
    <p>Data-driven career insights using Python</p>

    <div class="nav-buttons">
        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/about">About</a>
    </div>
</section>

<footer>© 2026 Sagar Karosiya</footer>

<script src="{{ url_for('static', filename='js/particles.js') }}"></script>





</body>
</html>
